/* tablet */

@media only screen and (min-width: 992px) and (max-width:1279px) {
  .header {
    width: 90%;
    margin: auto;
  }
  .movie {
    display: flex;
  }
  .photo1 {
    margin-top: 22px;
    width: 65px;
  }
  .global {
    display: flex;
    margin-top: 56px;
  }
  .global p {
    margin-left: 5px;
    font-family: var(--font1);
    font-size: 16px;
    color: #000000;
  }
  .global img {
    width: 16px;
  }
  .clock,
  .date {
    margin-left: 15px;
  }
  .big-text {
    font-family: var(--font2);
    font-weight: bold;
    font-size: 46px;
    line-height: 46px;
    color: #000000;
    width: 364px;
  }
  .movie-text p {
    font-family: var(--font1);
    font-size: 16px;
    color: #000000;
    width: 340px;
    line-height: 18px;
  }
  .movie-text {
    margin-top: 10px;
  }
  .movie img {
    margin-left: 240px;
    width: 176px;
  }
  .blue-area {
    margin: auto;
    padding: 11px 15px;
    background-color: #1e4681;
    color: white;
    width: 280px;
    margin-top: 50px;
  }
  .blue-area-text {
    font-family: var(--font2);
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 18px;
  }
  .blue-area-name {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    text-align: right;
    line-height: 16px;
  }
  h2 {
    font-family: var(--font2);
    font-weight: 700;
    font-size: 38px;
    color: #000000;
    margin-top: 100px;
  }
  .main {
    display: flex;
    justify-content: space-between;
  }
  .main-text {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    width: 383px;
  }
  .main-img {
    margin-right: 80px;
    width: 250px;
  }
}






/* Mobile */
@media only screen and (min-width: 320px) and (max-width:991px) {
  body {

  }
  .header{
    width: 90%;
    margin: auto; 
  }
  .photo1 {
    margin-top: 36px;
    width: 52px;
  }
  .global {
    display: flex;
    margin-top: 44px;
  }
  .course,
  .clock,
  .date {
  display: flex;
} 
.global p {
  margin-left: 8px;
  font-family: var(--font1);
  font-size: 16px;
  color: #000000;
  width: 140px;
}
.global img {
  width: 16px;
}
.clock,
.date {
  margin-left: 12px;
}
.big-text {
  font-family: var(--font2);
  font-weight: bold;
  font-size:46px;
  line-height: 46px;
  color: #000000;
  width: 350px;
}
.movie-text p {
  font-family: var(--font1);
  font-size: 16px;
  color: #000000;
  width: 340px;
  line-height: 30px;
}
.movie {
  display: flex;
  flex-direction: column;
}
.movie-text {
  margin-top: 20px;
}
.movie img {
  margin-left: 270px;
  width: 250px;
}
.blue-area {
  padding: 11px 15px;
  background-color: #1e4681;
  color: white;
  width: 483px;
  margin-top: 100px;
  margin-right: 400px;
}
.blue-area-text {
  font-family: var(--font2);
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  line-height: 32.5px;
}
.blue-area-name {
  font-family: var(--font1);
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-align: right;
  line-height: 26p;
}
h2 {
  font-family: var(--font2);
  font-weight: 700;
  font-size: 35px;
  color: #000000;
  margin-top: 90px;
}
.main {
  display: flex;
  flex-direction: column;
  
}
.main-text {
  font-family: var(--font1);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 383px;
}
.main-img {
  width: 230px;
  margin-top: 60px;
  margin-left: 100px;
}








}